@tailwind base;
@tailwind components;
@tailwind utilities;
.btn-primary {
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}
.btn-primary:hover {
    background-color: #2563eb;
    border-color: #2563eb;
}
